<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <!--固定列 top-->
    <div>
      {% if user.is_authenticated %}
      <!--若登入則顯示登出-->
      <a href="{% url 'account_logout' %}">登出</a>
      {% else %}
      <a href="{% provider_login_url 'line' %}"> 登入 </a><br>
      {% endif %}
  </div>
    <!--固定列 end-->

    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
